<% content_for :meta_title, "Home" %>
<% content_for :meta_description, "Create killer event websites & email invitations. Check in guests. Integrate with in-event tech. All with Event Farm's registration platform." %>
<% content_for :meta_keywords, "eventtech, event management, salesforce, pardot, cvent" %>


<main class="wrapper">
  <h1 class="is-centered">Ask Us Anything</h1>
  <div class="columns">
    <div class="columns__item">
      <h2>Questions about building an event marketing strategy?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, nesciunt voluptatum possimus necessitatibus in blanditiis animi dolorum, maxime, ab quod modi. Obcaecati, recusandae eveniet consectetur molestiae. Accusantium vero sit, vel.
      </p>
    </div>
    <div class="columns__item">
      <%= render 'form' %>
    </div>
  </div>
</main>
