<% content_for :meta_title, "Home" %>
<% content_for :meta_description, "Create killer event websites & email invitations. Check in guests. Integrate with in-event tech. All with Event Farm's registration platform." %>
<% content_for :meta_keywords, "eventtech, event management, salesforce, pardot, cvent" %>

<main class="wrapper">
  <h1 class="is-centered">Thanks!</h1>
  <div class="columns">
    <div class="columns__item">
      <p>
        Look for answers on our blog, and on Twitter at @eventfarm. See you there!
      </p>
    </div>
    <div class="columns__item">
      <%=image_tag('person.png') %>
    </div>
  </div>
</main>
