$base-radius: 6px;

// Font sizes
$font-small:   0.6rem;
$font-medium:  0.8rem;
$font-regular: 1rem;

// Other
$default-section-padding: 2rem;
$mobile-menu-height: 4rem;
$gradient-blue: linear-gradient(45deg, $color_blue 0%, $color_hblue 100%);
$gradient-green: linear-gradient(45deg, $color_blue 0%, $color_green 100%);