<div class="post-grid__item">
  <div class="post-grid__item--image">
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% end %>
  </div>
  <div class="post-grid__item--meta">
    <h6><%= post.created_at.stamp('July 1, 1999') %></h6>
    <h2><%= link_to post.title, post_path(post) %></h2>
    </h4>
  </div>
</div>