<%= content_for :meta_title, "Subscribe" %>
<%= content_for :url, request.original_url %>
<%= content_for :meta_description, "Get the Event Farm newsletter 'Get Real'" %>
<%= content_for :meta_keywords, "eventtech, event management, salesforce, pardot, cvent" %>


<div class="content content--centered">
  <h2 class="is-centered">Get the Event Farm newsletter, Get Real</h2>
  <h4 class="is-centered">We're big fans of bringing more <em>human</em> into marketing. If you host events, or are thinking about hosting events, or are interested in making the internet feel more human, this is for you. Each week we'll send links to what we're writing, reading, and thinking about. Never any spam.
</h4>
  <iframe src="https://mrkt.eventfarm.io/l/573913/2019-03-05/gg97v1" width="100%" height="400" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
</div>
