$color_hblue : #5D58F7;
$color_blue : #5085F0;
$color_raisin : #242038;
$color_slate : #A2AEBB;
$color_dkslate: #444;
$color_yellow : #FFE066;
$color_lcyan : #DAFFED;
$color_orange : #FF715B;
$color_dkblue : #3C454F;
$color_putty : #F5F5F5;
$color_green : #3DDC97;