@import 'core/core';
@import 'blogadmin';
@import 'components/header';
@import 'components/compact-header';
@import 'components/footer';
@import 'font-awesome';

body {
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  padding: 2rem;
}
